@import url("https://byoticss.netlify.app/css/component.css");

:root{
    --primary-color:#F59E0B;
    --secondary-color:#FCD34D;
    --color-3:#808080;
    --color-4:#1f1f2718;
}

.product__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    grid-gap: 1rem;
    margin-top: 4rem;
    padding: 2rem;
    margin-left: auto;
    width: 100%;
}

.product-card{
    max-width: 18rem;
    height: 26rem;
}

@media (max-width: 720px){
    .product__list{
        max-width: 50rem;
        margin: auto;
        padding: 0.5rem 0.2rem;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.2rem;
    }

    .product-card{
        max-width: 15.625rem;
        height: 20rem;
    }
}